@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Cairo";
  src: url("./assets/fonts/Cairo-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cairo";
  src: url("./assets/fonts/Cairo-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

:root {
  font-family: "Cairo", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: rgba(255, 255, 255, 0.87);
  background-color: transparent;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

::selection {
  color: #fff;
  background-color: #ff5a1f;
}

.cover {
  background-image: url("/blob-scene-haikei.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -20;
}

/* .card-cover {
  background-image: url("/blob-scene-haikei.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -20;
} */